@{
    ViewBag.Title = "Home Page";
}
<script type="text/javascript">
    function valida() {
        alert("Dados cadastrados com sucesso");
    }
</script>

<h1> Tela de Login</h1>

<form action="@Url.Action("Index")" method="POST">
    <div style="text-align: center">
        <div>
            <br />
            <label>Email:</label> <br> <input id="txtemail" name="email" placeholder="exemplo@mail.com.br">
        </div>
        <br>

        <div>
            <br />
            <label>Senha:</label> <br> <input type="password" id="txtsenha" name="Senha" placeholder="digite sua senha aqui...">
        </div>
        <br>

        <div> 
            <button onclick="valida();" type="submit">Entrar </button>

        </div>
    </div>

</form>


